.champDiv {
  height: 100px;

  a {
    display: block;

    img {
      display: block;

      width: 48px;
      height: auto;

      margin: 0 auto;
    }

    .champLabel {
      text-align: center;
    }
  }
}

.matchRow {
  & > div {
    img.itemBuyOrder {
      width: 24px;
      height: auto;
    }

    img.summSpell {
      width: 36px;
      height: auto;
    }
  }
}