extends skeleton_base

block page-title
  | Welcome

block body
  .row
    //- .search-ad.col-xs-1.col-sm-3
    //-   include includes/adsense_search.html

    #main-page-search.col-xs-10.col-sm-6.col-sm-offset-3.form-group
      label Champion search
      input#champ-finder.form-control(type='search' placeholder='Champion Name')

    //- .search-ad.col-xs-1.col-sm-3
    //-   include includes/adsense_search.html

  .row
    each champObj in data
      .champ-div
        a(href='/' + champObj.name.toLowerCase() + '/')
          - var img = champObj.image;
          .champ-thumbnail(style='height: ' + img.h + 'px; width: ' + img.w + 'px; background: url(\'//ddragon.leagueoflegends.com/cdn/' + version + '/img/sprite/' + img.sprite + '\') -' + img.x + 'px -' + img.y + 'px no-repeat')
          .champ-label= champObj.name