extends skeleton_base

block page-title
  | Welcome

block body
  .row
    each champObj in champData
      .champDiv.col-xs-4.col-sm-2.col-md-1
        - var champStatic = staticData.champs[champObj._id]
        - var champName = champStatic.id
        a(href=champName)
          img(src='/data/dragontail/current/img/champion/' + champStatic.image.full)
          .champLabel= champName + ' (' + champObj.numGames + ')'