each champ, champId in champData
  div
    //- = champId
    img(src='/data/dragontail/4.21.4/img/champion/' + champ.name + '.png')

    each masteryPage in champ.masteries
      each mastery in masteryPage
        div
          img(src='/data/dragontail/4.21.4/img/mastery/' + mastery.masteryId + '.png')
          = mastery.rank
    //- = champ.masteries
    //- = champ.runes
  //- = champ