extends skeleton_base

block page-title
  | Welcome

block body
  .row
    each champObj in data
      .champDiv
        a(href=champObj.id)
          img(src='/data/dragontail/current/img/champion/' + champObj.image.full)
          .champLabel= champObj.name