extends skeleton_base

block page-title
  | Welcome

block body

  .row
    #main-page-search.col-xs-10.col-xs-offset-1.col-sm-6.col-sm-offset-3.form-group
      label Champion search
      input#champ-finder.form-control(type='search' placeholder='Champion Name')

  .row
    each champObj in data
      .champ-div
        a(href='/' + champObj.name.toLowerCase() + '/')
          - var img = champObj.image;
          .champ-thumbnail(style='height: ' + img.h + 'px; width: ' + img.w + 'px; background: url(\'/data/dragontail/current/img/sprite/' + img.sprite + '\') -' + img.x + 'px -' + img.y + 'px no-repeat')
          .champ-label= champObj.name