extends skeleton_base

block page-title
  = champName

block header
  #info-states
    span.info-switcher#pre-game(class=(displayMode === 'pre-game' ? 'active' : '')) Pre-Game Info
    span.info-switcher#in-game(class=(displayMode === 'in-game' ? 'active' : '')) In-Game Info

block body
  - var defaultCutoff = 700;
  - var ddragonCDN = '//ddragon.leagueoflegends.com/cdn/' + version + '/';

  .row
    include includes/adsense.html

  .row#header-row
    block overview

    #item-filtering.col-lg-3
      label#filtering-label(for='item-cutoff') Cut-Off Threshold: 
      input(type='number' step='100' min='0' max='4000' value=defaultCutoff name='itemCutoff' id='item-cutoff' class='form-control')

  if gamesData
    include includes/matchEntries.jade
    
  else
    #no-games No games yet!
